@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* AddStudent.css */
.AddStudentHeading {
  font-size: 40px;
  text-align: center;
  margin: 20px;

}
.open {
  height: 10rem;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: #a9d5de;
  padding: 0px;
}

.logo-container img {
  max-height: 70px;
  margin-right: 10px;
}

.StudentList {
  background-color: #062f44; /* Replace with your desired color */
  margin: 50px;
}

.StudentListHeading {
  font-size: 40px;
  text-align: center;
  margin: 20px;
  
}
.navbar{
  background-color: black;
}